@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #111111;
}
nav img{
    height: 80px;
}
nav{
    margin: 2em 5em;
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
    margin-left: 45em;
    gap: 5em;
    list-style-type: none;
    font-size: 15px;
}
.hero{
    margin: 0 10em;
    display: flex;

}
.hero img{
    height: 700px;
}
.hero-txt{
    margin-top: 13em;
}
.hero-txt h6{
    font-size: 20px;
    color: #ff3343;
}
.hero-txt h2{
    font-size: 60px;
    padding: 20px 0;
    font-weight: 600;
}
.hero-txt p{
    font-size: 20px;
    font-weight: 300;
    width: 35em;
}
.btn{

    font-size: 15px;
    font-weight: 500;
    color: #fff;
    padding: 10px 25px;
    background-color: #c91b28;
    border: 0;
}
.hero-txt button{
    margin-top: 3em;
}
.intro{
    position: relative;
}
.bgc{
    position: absolute;
    background-color: #181818;
    height: 60em;
    width: 60em;
    z-index: -1;
    top: -7em;
}
.cards{

    margin: 7em 0;
    display: flex;
    justify-content: center;
    gap: 2em;
}
.card:nth-child(2){
    background-color: #c91b28;
}
.card:nth-child(2) h6{
    color: #fff;
}
.card{
    width: 250px;
    padding: 40px;
    background-color: #1e1e1e;
}
.card img{
    padding-top: 10px;
    height: 70px;

}
.card h3{
    font-size: 25px;
    padding: 20px 0;
}
.card p{
    font-size: 20px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.751);
    
}
.card h6{
    padding-top: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #ff3343;
}
.card h6 i{
    padding-left: 5px;
}
.works{
    width: 330px;
    height: 330px;
}
.works h1{
    padding-top: 70px;
    font-size: 100px;
    font-weight: 900;
    color: #ff3343;
    text-align: center;
}
.works h2{
    text-align: center;

}
.work{
    width: 330px;
    padding-top: 25px;
    height: 110px;
    background-color: #1e1e1e;
    margin-bottom: 2em;
}
.work h3{
    font-size: 45px;
    text-align: center;
    color: #ff3343;
}
.work p{
   font-size: 18px;
   color: rgba(255, 255, 255, 0.743); 
   text-align: center;
   padding: 15px 0;
}
.projects{
    margin: 2em 15em;
    display: flex;
    justify-content: space-between;
}
.projects h2{
    font-weight: 800;
}
 p{
    font-size: 14px;
   color: rgba(255, 255, 255, 0.743);
   padding: 15px 0;
}

.proj-wrap{
    display: flex;
    gap: 3em;
    justify-content: center;
    margin-bottom: 3em;
}

.project img{
    height: 350px;
    padding: 90px 30px;
    background-color: #1e1e1e;
}
.project h3{
    font-size: 25px;
    margin-top: 10px;
    font-weight: 800;
}
.project h6{
    padding-top: 10px;
    font-size: 15px;
    font-weight: 500;
    color: #ff3343;
}
.project h6 i{
    padding-left: 5px;
}
.contact{
    margin: 2em 15em;
    padding: 60px;
    background-color: #1e1e1e;
    display: flex;
    gap: 15em;
    align-items: center;
}
.con-txt{
    width: 50em;
}
.contact h1{
    font-size: 60px;
    font-weight: 600;
}
.btm{
    padding:3em 0;
    display: flex;
    gap: 5em;
    justify-content: center;
}
.btm a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}
footer{
    background-color: #181818;
    display: flex;
    align-items: center;
    padding: 20px 15em;
}
footer>img{
    height: 70px;
}
.soci img{
    margin-left: 33em;
    height: 20px;
}